
h1 {
  font-family: avenir, sans-serif;
    max-width: 800px;
    margin-top: 50px;
    font-size: 25pt;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: normal;
    color: black;
}

.Logo {
  font-family: Avenir, sans-serif;
    color: White;
    width: 150px;
    height: 150px;
    font-size: 20pt;
    display: inline-block; 
    padding:10px;
    background: #7D7D7D;
}
h2 {
  font-family: Avenir, sans-serif;
    max-width: 800px;
    margin-top: 50px;
    font-size: 28pt;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: normal;
    color: black;
}

.lgrey { 
  font-family: Avenir, sans-serif;
  color: White;
    width: 150px;
    height: 150px;
  font-size: 20pt;
    display: inline-block; 
    padding:15px;
    background: #7D7D7D;
}
.black {
  font-family: Noto Sans TC, sans-serif;
    color: White;
    width: 150px;
    height: 150px;
  font-size: 20pt;
    display: inline-block; 
    padding:15px;
    background: #1C1C1C;
}

.dgrey {
    font-family: Noto Sans TC, sans-serif;
  color: White;
    width: 150px;
    height: 150px;
  font-size: 20pt;
    display: inline-block; 
    padding:15px;
    background: #505050;
}
.orange {
  font-family: Noto Sans TC, sans-serif;
    color: White;
    width: 150px;
    height: 150px;
  font-size: 20pt;
    display: inline-block; 
    padding:15px;
    background: #FF9500;
}





body {
  padding:5rem 0;
    
}

/* Structure */

main {
  width:80vw;
  margin: 0 auto;
  
}

.ds-container {
  display:grid;
  grid-template-columns: 3fr 7fr;
  grid-auto-rows:min-content;
  grid-gap:2rem;
    
    
}

.component-group {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows:min-content;
  grid-gap:1rem;
}

.design-patterns-group {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows:min-content;
  grid-gap:1rem;
}


.left-sidebar {
  grid-column: 1 / 2;
        font-family: avenir, sans-serif;
    max-width: 800px;
    margin-top: 50px;
    font-size: 15pt;
    font-weight: bold;
    line-height: 0.5;
    letter-spacing: normal;
    color: black;
}

.main-content {
  grid-column: 2 / 4;
}

.right-sidebar {
  grid-column: 3 / 4;
}

.section {
  background:#fff;
  box-shadow: 3px 3px 2px 1px rgba(111, 111, 111, .2);
  padding:2rem;
  margin-bottom:2rem;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir', sans-serif;
  
  line-height:1;
}

h1 {
 
  margin-bottom:1.25rem;
    font-family: avenir, sans-serif;
    max-width: 800px;
    margin-top: 50px;
    font-size: 30pt;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: normal;
    color: black;

}
h2 {
  
  margin-bottom:1.25rem;
       font-family: avenir, sans-serif;
    max-width: 800px;
    margin-top: 50px;
    font-size: 25pt;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: normal;
    color: black;

}
h3 {
  
  margin-bottom:1rem;
       font-family: avenir, sans-serif;
    max-width: 800px;
    margin-top: 50px;
    font-size: 22pt;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: normal;
    color: black;

}
h4 {
  
  margin-bottom:1rem;
     font-family: avenir, sans-serif;
    max-width: 800px;
    margin-top: 50px;
    font-size: 20pt;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: normal;
    color: black;

}
h5 {
 
  margin-bottom:.5rem;
 font-family: avenir, sans-serif;
    max-width: 800px;
    margin-top: 50px;
    font-size: 18pt;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: normal;
    color: black;
}



p, li {
  
  line-height: 1;
  margin-top:var(--space-md);
  margin-bottom:var(--space-md);
  color:var(--text-color);
      font-family: avenir, sans-serif;
    max-width: 800px;
    margin-top: 25px;
    font-size: 12pt;
    letter-spacing: normal;
    color: black;
}

.section-label {
 font-family: avenir, sans-serif;
    max-width: 800px;
    margin-top: 50px;
    font-size: 40pt;
    font-weight: bold;
  
    letter-spacing: normal;
    color: black;
}

.section-break {
  text-transform: uppercase;
  font-weight:700;
  margin-top:3rem;
}

